<!DOCTYPE html>
<html>
	<% if signed_in? %>
		Signed in as: <%= current_user.email %>
		<%= button_to 'Sign out', sign_out_path, method: :delete %>
	<% else %>
		<%= link_to 'Sign in', sign_in_path %>
	<% end %>

	<div id="flash">
		<% flash.each do |key, value| %>
			<div class="flash <%= key %>"><%= value %></div>
		<% end %>
	</div>

	<%= link_to 'New Post', new_post_path %>

	<h1>Posts:</h1>
		<% @posts.reverse.each do |post| %>
			<p>
				<strong> <%= User.find(post.user_id).email %>: <%= post.title %></strong> 
				<%= post.time_posted(post.created_at) %> <br>
				<%= post.text %><br>
				<% unless post.photo.file.nil? %>
					<%= image_tag post.photo.thumb %> <!-- .thumb? -->
				<% end %></br>
				<%= link_to 'Show', post_path(post) %>
				Average rating: 
				<% if Like.where(post_id: post.id).size > 0 %>
					<%= Like.where(post_id: post.id).sum(:score) / Like.where(post_id: post.id).size %> 
				<% else %>
						n/a
				<% end %>
			Your rating: 
			<% for i in 1..5 %>
				<%= link_to i.to_s, post_likes_path(post, score: i), method: :post %> 
			<% end %>
			</p>
		<% end %>
	</html>
