<html>
	<body>
		<%= link_to 'All Posts', posts_path %>
		<p>
			<strong><%= @post.title %></strong><br>
			<%= @post.text %><br>
			Likes: <%= Like.where(post_id: @post.id).size %> <%= link_to 'Like', post_likes_path(@post), method: :post %>
		</p>


		<h2>Comments</h2>
		<% @post.comments.reverse.each do |comment| %>
			<p> 
				<strong><%= User.find(comment.user_id).email %> wrote: </strong></br>
				<%= comment.body %>
			</p>
		<% end %>	

		<h3>Add a comment:</h3>
		<%= form_for([@post, @post.comments.build]) do |f| %>
			<p>
				<%= f.text_area :body %>
			</p>
			<p>
				<%= f.submit %>
			</p>
		<% end %>
	</body>
</html>
