<html>
	<body>
		<%= link_to 'All Posts', posts_path %>
		<p>
			<strong><%= @post.title %></strong><br>
			<%= @post.text %><br>
			Average rating: <%= Like.where(post_id: @post.id).sum(:score) / Like.where(post_id: @post.id).size %> 
			Your rating: 
			<% for i in 1..5 %>
				<%= link_to i.to_s, post_likes_path(@post, score: i), method: :post %> 
			<% end %>
		</p>


		<h2>Comments</h2>
		<% @post.comments.reverse.each do |comment| %>
			<p> 
				<strong><%= User.find(comment.user_id).email %> wrote: </strong></br>
				<%= comment.body %>
			</p>
		<% end %>	

		<h3>Add a comment:</h3>
		<%= form_for([@post, @post.comments.build]) do |f| %>
			<p>
				<%= f.text_area :body %>
			</p>
			<p>
				<%= f.submit %>
			</p>
		<% end %>
	</body>
</html>
